
# Connexion PostgreSQL (adapte selon ton install locale ou ton hébergeur cloud)
DB_NAME=ecommerce_db
DB_USER=postgres
DB_PASSWORD=Tinica@@0605
DB_HOST=localhost
DB_PORT=5432

# Clé secrète pour signer les tokens JWT (génère une longue chaîne aléatoire)
JWT_SECRET=C:\Users\DELL>node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"
30694fbfe21e18609571b2912bf59a6c2fc1c2a051934ceacb959a6c9596254ff745c998299acdd0d12be9fbe4250787334f13dde90fe581396b6b706afc8e0a

# Clé secrète Stripe (récupérable sur https://dashboard.stripe.com/test/apikeys)
STRIPE_SECRET_KEY=s425c475932f029164b3af3d008a856cad26332d81b33d2bc2d7e369e49dde680c4b7ee9ab6ef352c650c6fce7c11c14e99686b9f66c3d786ef0c25a5649e7abd

# Port du serveur
PORT=5000
